<div class="container mt-3">
  <button class="btn btn-success mb-3" (click)="addPost()">Add Post</button>
  <div *ngFor="let post of posts; let i = index" class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text">{{ post.body }}</p>
      <button class="btn btn-primary" (click)="updatePost(post)">Update</button>
      <button class="btn btn-danger" (click)="deletePost(post.id)">
        Delete
      </button>
    </div>
  </div>
</div>
